:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: var(--color-grey-light-2);
  background-color: #000;
}

.container {
  max-width: 100rem;
  margin: 0 auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.6rem 0;
}

.logo {
  height: 3rem;
  cursor: pointer;
  -webkit-animation-name: moveInTop;
          animation-name: moveInTop;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  fill: aliceblue;
}

.header__nav {
  margin-right: 19.7rem;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav--links {
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--color-grey-dark-2);
  -ms-flex-item-align: stretch;
      align-self: stretch;
  padding: 0.75rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation-name: moveInTop;
          animation-name: moveInTop;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-delay: 1.9s;
          animation-delay: 1.9s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.header__nav--links:not(:last-child) {
  margin-right: 2.75rem;
}

.header__nav--links:hover {
  background-color: var(--color-grey-light-3);
  color: var(--color-grey-dark-1);
}

a {
  font-size: 1.6rem;
}

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 1.2rem 2rem;
  border-radius: 11rem;
  color: var(--color-grey-dark-1);
  cursor: pointer;
  text-decoration: none;
  color: #000;
  background-color: var(--color-grey-dark-1);
  z-index: 3;
  -webkit-animation-name: moveInTop;
          animation-name: moveInTop;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-delay: 1.9s;
          animation-delay: 1.9s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.btn--white {
  background-color: white;
}

.btn:hover {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.btn:active {
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
}

.content {
  margin-top: 9.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.2rem;
}

.content__description {
  font-size: 2rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  color: var(--color-grey-dark-2);
  letter-spacing: -0.15rem;
  line-height: 1.2;
  -webkit-animation-name: moveInLeft;
          animation-name: moveInLeft;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-delay: 2.8s;
          animation-delay: 2.8s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.heading {
  font-size: 5.6rem;
  font-weight: 300;
  line-height: 1.1;
  -webkit-animation-name: moveInBottom;
          animation-name: moveInBottom;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.mar-left {
  margin-left: 5.4rem;
}

.mar-left--sm {
  margin-left: 2rem;
}

.btn__content:link {
  z-index: 3;
}

.btn__content {
  display: inline-block;
  text-decoration: none;
  padding: 1.2rem 2rem;
  margin-top: 7.8rem;
  border-radius: 11rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn__content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  z-index: -1;
  background-color: #131313;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: all cubic-bezier(1, 1, 0, 1) 0.3s;
  transition: all cubic-bezier(1, 1, 0, 1) 0.3s;
}

.btn__content:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
  color: #fff;
}

.btn--yellow {
  background-color: #eed91f;
  color: #000;
  -webkit-animation-name: appear;
          animation-name: appear;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-delay: 3.4s;
          animation-delay: 3.4s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  z-index: 2;
  position: relative;
}

.btn--yellow::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10rem;
  height: 100%;
  background-color: var(--color-grey-dark-1);
}

.btn--white {
  background-color: #000;
  color: #fff;
  -webkit-animation-name: appear;
          animation-name: appear;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-delay: 3.6s;
          animation-delay: 3.6s;
}

.btn__content--1 {
  opacity: 1;
  color: #fff;
  line-height: 40px;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  margin-top: 8rem;
  border-radius: 11rem;
  -webkit-animation-name: appear;
          animation-name: appear;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-delay: 3.4s;
          animation-delay: 3.4s;
}

.btn__content--1:hover:after {
  opacity: 1;
  -webkit-transform: translateY(0) rotateX(0);
          transform: translateY(0) rotateX(0);
}

.btn__content--1:hover:before {
  opacity: 0;
  -webkit-transform: translateY(-50%) rotateX(-90deg);
          transform: translateY(-50%) rotateX(-90deg);
}

.btn__content--1:after {
  width: 100%;
  color: #323237;
  background: #c5c21e;
  border-radius: 10rem;
  display: inline-block;
  content: attr(data-back);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transform: translateY(50%) rotateX(-90deg);
          transform: translateY(50%) rotateX(-90deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn__content--1:before {
  line-height: 40px;
  padding: 0 30px;
  width: 100%;
  content: attr(data-front);
  top: 0;
  left: 0;
  opacity: 1;
  color: #3a3a3a;
  background: #eef11f;
  border-radius: 10rem;
  display: block;
  position: relative;
  -webkit-transform: translateY(0) rotateX(0);
          transform: translateY(0) rotateX(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@-webkit-keyframes moveInTop {
  0% {
    -webkit-transform: translateY(-3rem);
            transform: translateY(-3rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveInTop {
  0% {
    -webkit-transform: translateY(-3rem);
            transform: translateY(-3rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveInBottom {
  0% {
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes moveInLeft {
  0% {
    -webkit-transform: translateX(-3rem);
            transform: translateX(-3rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveInLeft {
  0% {
    -webkit-transform: translateX(-3rem);
            transform: translateX(-3rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes moveInRight {
  0% {
    -webkit-transform: translateX(3rem);
            transform: translateX(3rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveInRight {
  0% {
    -webkit-transform: translateX(3rem);
            transform: translateX(3rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */